.bg-posting {
    background-color: #aed4ae;
}

.bg-guess {
    background-color: rgb(229 231 235);
}

.row-guess {
    min-height: 2.5rem;
}

.awesomplete > ul {
    max-height: 12rem;
    overflow-y: auto;
}
